# OS
.DS_Store
Thumbs.db

# IDE/Editors
.vscode/
.idea/
*.code-workspace

# Dependencies / builds
node_modules/
dist/
build/
.tmp/
.cache/

# PHP / Composer
vendor/
composer.lock

# Env / secrets
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Images/cache (по желанию убери, если нужно хранить)
# assets/img/slider/*.psd
